body {
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
}

h1 {
    color: #4169e1;
}

h2 {
    font-style: italic;
}

img {
    width: 350px;
}

nav a {
    text-decoration: none;
    color: #00008b;
    font-weight: bold;
}

.gallery {
    margin: 15px;
    border: 1px solid #ccc;
    width: 400px;
}

.gallery img{
    width: 100%;
    height: auto;
}

.desc {
    padding: 15px;
    text-align: center;
}